! special
*.foreground:   #e2d2e7
*.background:   #0c050e
*.cursorColor:  #e2d2e7

! black
*.color0:       #150a17
*.color8:       #6dcfc2

! red
*.color1:       #221326
*.color9:       #e495a7

! green
*.color2:       #38223d
*.color10:      #6fc5b9

! yellow
*.color3:       #56375d
*.color11:      #dc84f1

! blue
*.color4:       #7c5286
*.color12:      #dfa8ed

! magenta
*.color5:       #a972b7
*.color13:      #74bd45

! cyan
*.color6:       #c7a6d1
*.color14:      #54b7f4

! white
*.color7:       #eadfee
*.color15:      #97db75
