! special
*.foreground:   #cc8606
*.background:   #040404
*.cursorColor:  #c0c0c0

! black
*.color0:       #040404
*.color8:       #424242

! red
*.color1:       #4e360b
*.color9:       #69490f

! green
*.color2:       #634610
*.color10:      #855e16

! yellow
*.color3:       #704e0f
*.color11:      #966814

! blue
*.color4:       #81590e
*.color12:      #ff7713

! magenta
*.color5:       #8d610f
*.color13:      #bd8214

! cyan
*.color6:       #8a631c
*.color14:      #b88526

! white
*.color7:       #818181
*.color15:      #c0c0c0

