[Unit]
Discription=Universal Brightness Service
After=network.taget
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/bash /etc/universalbright/scripts.sh

[Install]
WantedBy=multi-user.target
